
<link href="/assets/application.css" media="all" rel="stylesheet" type="text/css" />
<h1>contacto</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>